.qr-text{
    border: 1px solid #ccc;
}

.qr-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    canvas, svg {
        max-width: 100%;
        height: auto;
        border-radius: 12px;
    }
}